<h1>Advisor Ai</h1>
<hr>
<h2>Get Started Here!</h2>
<%=link_to "Course Input", courses_input_path%>
<% if true %>
  <h2>View Tree View</h2>
  <%= link_to "Degree Tree", view_tree_path %>
  <h2>View Your Courses</h2>
  <%= link_to "Degree Path", view_degree_path %>
<% end %>
