<h1>Course Input</h1>
<br>
<div class="float-right" id="upload">
  <button type="button" class="btn btn-info" id="upload">
    <i class="fas fa-upload"></i>
    Import Existing Plan
  </button>
</div>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Year</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
  </select>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Term</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="Fa">Fall</option>
    <option value="Wi">Winter</option>
    <option value="Sp">Spring</option>
    <option value="Su">Summer</option>
  </select>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Course 1</span>
  </div>
  <input type="text" class="form-control" aria-label="Course" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Course 2</span>
  </div>
  <input type="text" class="form-control" aria-label="Course" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Course 3</span>
  </div>
  <input type="text" class="form-control" aria-label="Course" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Course 4</span>
  </div>
  <input type="text" class="form-control" aria-label="Course" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Course 5</span>
  </div>
  <input type="text" class="form-control" aria-label="Course" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Course 6</span>
  </div>
  <input type="text" class="form-control" aria-label="Course" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Course 7</span>
  </div>
  <input type="text" class="form-control" aria-label="Course" aria-describedby="inputGroup-sizing-default">
</div>

<a href="#" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Add Another Term</a>
<a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Done</a>
