
@import "bootstrap";
@import "font-awesome";


$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

//
// Nav bar stuff
//

nav {
	text-align: center;
}

//
// IMPORT PAGE
//

button#upload {
  margin-top: -135px;
}

.form-group {
  padding-right: 5px;
}

.input-group-prepend#course {
  width: 89px;
}
